body{
    background:#FF3333;
    color:white;
    text-align:center;
    font-family:Arial;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:10px;
}
.cyber-footer {
    margin-top: 30px;
    padding-bottom: 15px;
    font-size: 11px;
    color: rgba(0, 255, 255, 0.5); /* Warna sian agak transparan agar elegan */
    text-align: center;
    font-family: monospace;
    letter-spacing: 1px;
}
